---
irma:
  telegram:
    api_keys:
      production: '{{ with secret "secret/irma/telegram/api_keys/production" }}{{ .Data.value }}{{ end }}'
      development: '{{ with secret "secret/irma/telegram/api_keys/development" }}{{ .Data.value }}{{ end }}'
    notify_keys:
      production: '{{ with secret "secret/irma/telegram/notify_keys/production" }}{{ .Data.value }}{{ end }}'
      development: '{{ with secret "secret/irma/telegram/notify_keys/development" }}{{ .Data.value }}{{ end }}'
    notify_url: '{{ env "IRMA_NOTIFY_URL" }}'
